<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{ satellites.length }}</span></div>
   <div>Space Debris: <span>{{ satTypeTotal("Space Debris") }}</span></div>
   <div>Communication: <span>{{ satTypeTotal("Communication") }}</span></div>
   <div>Probe: <span>{{ satTypeTotal("Probe") }}</span></div>
   <div>Positioning: <span>{{ satTypeTotal("Positioning") }}</span></div>
   <div>Space Station: <span>{{ satTypeTotal("Space Station") }}</span></div>
   <div>Telescope: <span>{{ satTypeTotal("Telescope") }}</span></div>
</div>
